bin/*
build*/*
.ipynb_checkpoints/
*.py[cod]

# test files
**/test.png
**/test.jpg
**/video.mp4

# notebooks
python/notebooks/HelloWorld.jpg
python/notebooks/data/bonsai/*.nhdr
python/notebooks/data/bonsai/*.raw
python/notebooks/data/pancreas/*.raw
python/notebooks/data/OpenSlide/*.tiff
